<head>
	<title>Rock, Paper, Scissors</title>
	<link rel="stylesheet" type="text/css" href="views/CSS/normalize.css">
	<link rel="stylesheet" type="text/css" href="views/CSS/stylesheet.css">
</head>

<body>
	<h1> Rock, Paper, Scissors </h1>
	<%= yield %>
</body>