<head>
	<title>Rock, Paper, Scissors</title>
	<link rel="stylesheet" type="text/css" href="/public/normalize.css">
	<link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
</head>

<body>
	<h1> Rock, Paper, Scissors </h1>
	<%= yield %>
<!-- 	<img src="/rps.png" alt="Rock Paper Scissors"/> -->
</body>