<p class = "choice">Hi <%=session[:name]%>, would you like to choose Rock, Paper or Scissors?</p>

<form action='/result' method='post'>
  <ul class='unstyled'>
    <% Choices.each do |sym, text| %>
     	<li>
     		<label class='radio'>
	        <input type='radio' name='choice' value='<%= sym %>' />
	          <%= text %>
	       </label>
      </li>
    <% end %>
    <button type='submit' class='btn btn-primary'>Play!</button>
  </ul>
  
</form>