

  <p class="draw">You tied with the computer. Try again!</p>

  <p class="win"><%= "Wahay #{session[:name]}! #{@choice.capitalize} beats #{@computer_choice.capitalize}, you win!" %><p>

  <p class="loss"><%= "Uh oh #{session[:name]}! Sorry, #{@computer_choice.capitalize} beats #{@choice.capitalize}." %><p>


<!-- <a href='/new_game'>Best of 3?</a> -->

