
<% if @choice == @computer_choice %>
  <p class="result">You tied with the computer. Try again!</p>
<% elsif @computer_choice == @winner[@choice.to_sym].to_s %>
  <%= "Wahay! #{@choice.capitalize} beats #{@computer_choice.capitalize}, you win!" %>
<% else %>
  <%= "Uh oh! Sorry, #{@computer_choice.capitalize} beats #{@choice.capitalize}." %>
<% end %>

<!-- <a href='/new_game'>Best of 3?</a> -->

