
h1 {
	margin: 5% auto;
	font-family: 'Quicksand', sans-serif;
	text-align: center
}

.yield {
	margin: 5% 10%;
}

form {
	text-align: center;
}

p {
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	text-align: center;
}cd

ul {
	margin: 3% auto 5% auto;
}

button, input {
	font-family: 'Quicksand', sans-serif;
	display: inline;
	padding: 1%;
}

li {
	text-decoration: none;
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
}

.image_container {
	margin: 0 10% 20% 10%;
	position: absolute;
	width: 80%;
}

.rock {
	display: inline;
	margin: 5%;
}

#rock {
	width: 15%;
}

.paper {
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}

#paper {
	width: 25%;
}

.scissors {
	display: inline;
}

#scissors {
	width: 35%;
}